body {
    font-family: poppins;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
  
}

.grid {
    display: grid;
    grid-gap: 64px;
  }
  
  .img-responsive {
    max-width: 100%;
  }


header {
    color: white;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(0, 0,0,0.4) 0%, rgb(0,0,0,0.4)),
     url(hong-kong-lights.jpg);
    background-repeat: no-repeat;
    background-size: cover;

} 

header h1 {

    font-size: 48px;
    line-height: 1;
    font-weight: 700px;
}

header h4 {
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
}

header h5 {
font-weight: 900;
font-size: 12px;
line-height: 1.5;
letter-spacing: 5px;
}


    header a {
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #272044;
        padding: 16px 32px;
        margin-top: 32px;
        display: inline-block;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
        background: white;
        margin-bottom: 50px;
    }
    
   
section {
  
max-width:800px;
padding: 10px;
margin: 0 auto;

}


footer {
    color: white;
    background-image: linear-gradient(
        rgba(39, 32, 68, 0.9),
        rgba(39, 32, 68, 0.9)
      ),
      url("Hong-kong-high-def.jpg");
  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
  }


  .grid-3-columns-with-first-narrow {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap:35px;
  }
  
  section {
    
    text-align: center;
    margin: 0 auto;
  }


footer ul {
    padding: 0;
  }
  
  footer li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer a {
    color: white;
    opacity: 0.7;
  }
  
  footer p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-right: 20px;
    line-height: 24px;
  }

  @media (max-width: 960px) {
    header {
      padding: 60px 0;
    }
  
    header h1 {
      font-size: 48px;
    }
  
    header h2 {
      font-size: 20px;
    }
  
    header h3 {
      font-size: 12px;
    }
  
    .grid-with-2-columns {
      grid-template-columns: 1fr;
      grid-gap: 32px;
      max-width: 100%;
    }
  
    section {
      padding: 20px;
      max-width: 100%;
    }
  }

.kowloon {
margin-top: 10px;

}
main {
    padding-top: 30px;
}


main h5 {
    padding-top: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.3;
    text-transform: uppercase;
}
main h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
}

.second-section {
    background-color: rgb(216, 212, 212);
    max-width: 100%;
}


.grid-3-columns {
grid-template-columns: 1fr 1fr 1fr;
display: grid;
}

.card {
background-color: rgb(240, 237, 237);
padding: 15px;
margin-top: 20px;
text-align: center;
}



.button {

color: white;
font-weight: 700;
font-size: 14px;
line-height: 21px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
padding: 16px;
margin-top: 20px;
background-color: #3a2a79;

}
.grid-with-2-columns {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;


}
h6 {
    display: block;
    color: #272044;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 25px;
}

.card-header.grid{
grid-gap: 0;


}


